{
  "API_BASE_URL": "https://apiv2.rtsg.ceibocode.com/api/",
  "API_VERSION": "v3",
  "API_CONNECT_TIMEOUT_MS": "30000",
  "API_RECEIVE_TIMEOUT_MS": "30000",
  "MAPBOX_BASE_URL": "api.mapbox.com",
  "MAPBOX_GEOCODING_PATH": "/geocoding/v5/mapbox.places",
  "MAPBOX_DIRECTIONS_PATH": "/directions/v5/mapbox",
  "MAPBOX_LANGUAGE": "es",
  "MAPBOX_TYPES": "address,place,locality,neighborhood,poi",
  "MAPBOX_ACCESS_TOKEN": "REEMPLAZAR_CON_TOKEN_MAPBOX"
}
